.header{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    padding: 2rem 2rem 2rem 5rem;
    gap:1rem;
}
.header--title{
    color: white;
    font-size: 3rem;
}
.header--img{
    width: 10rem;
    border-radius: 2rem;
}